.ludoMainBoard {
    display: grid;
    grid-template-columns: repeat(15, 4vmin);
    grid-template-rows: repeat(15, 4vmin);
    grid-column-gap: .4vmin;
    grid-row-gap: .4vmin;
    border: 1px black solid;
    background-color: #ffffff;
    padding: 1vmin;
    margin: auto;
    width: min-content;
    height: min-content;
}

#ludoBase1 {
    grid-column: 1 / span 6;
    grid-row: 10 / span 6;
}

#ludoBase2 {
    grid-column: 1 / span 6;
    grid-row: 1 / span 6;
}

#ludoBase3 {
    grid-column: 10 / span 6;
    grid-row: 1 / span 6;
}

#ludoBase4 {
    grid-column: 10 / span 6;
    grid-row: 10 / span 6;
}

.ludoBase {
    border: .3vmin black solid;
    font-family: sans-serif;
    color: white;
    font-size: 12vmin;
    font-weight: 700;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-text-stroke: .3vmin black;
}

.winnerbase {
    font-size: 3vmin;
    -webkit-text-stroke: .1vmin black;
}

.goal {
    border: .15vmin black solid;
    font-family: sans-serif;
    color: white;
    text-transform: uppercase;
    font-size: 3vmin;
    font-weight: 700;
    padding: 0;
    margin: 0;
    justify-content: center;
    align-items: center;
    display: flex;
    -webkit-text-stroke: 1px black;
}

#ludoGoal1 {
    grid-column: 8;
    grid-row: 9;
}

#ludoGoal2 {
    grid-column: 7;
    grid-row: 8;
}

#ludoGoal3 {
    grid-column: 8;
    grid-row: 7;
}

#ludoGoal4 {
    grid-column: 9;
    grid-row: 8;
}

.ludoSquare {
    background-color: #cccccc;
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    border: .1vmin gray solid;
}

.ludoSquareBlank {
    background-color: transparent !important;
    border: 0;
}

.piece {
    border-radius: 100%;
    border: .15vmin rgba(0,0,0,0.9) solid;
    width: 50%;
    height: 50%;
    box-shadow: inset 0 0 .25vmin rgba(0,0,0,0.75), .1vmin .1vmin .3vmin 0 rgba(0,0,0,0.75);
}

.safeZone {
    border-color: black;
    border-width: .1vmin
}

.player1,
.player2,
.player3,
.player4 {
    background-color: rgba(0,0,0,.4);
}

.active {
    border-color: red;
}

#roll-button {
    font-family: sans-serif;
    color: black;
    text-transform: uppercase;
    font-size: 1.25vmin;
    font-weight: 700;
    -webkit-text-stroke: 1px black;
}

.movablePiece {
    animation: piece-pulse 2s infinite;
    animation-timing-function: ease-in-out;
    cursor: pointer;
}

.targetSquare {
    animation: square-pulse 2s infinite;
    animation-timing-function: ease-in-out;
}

@keyframes square-pulse {
    0% {
		/* background-color: rgba(0,0,0,.2); */
        filter: brightness(100%);
	}
	50% {
		/* background-color: rgba(0,0,0,.4); */
        filter: brightness(80%);
	}
    100% {
		/* background-color: rgba(0,0,0,.2); */
        filter: brightness(100%);
	}
}

@keyframes piece-pulse {
	0% {
		box-shadow: inset 0 0 .25vmin rgba(0,0,0,0.75), .1vmin .1vmin .3vmin 0 rgba(0,0,0,0.75), 0 0 0 0 rgba(0, 0, 0, .7);
	}
	
	100% {
		box-shadow: inset 0 0 .25vmin rgba(0,0,0,0.75), .1vmin .1vmin .3vmin 0 rgba(0,0,0,0.75), 0 0 0 .8vmin rgba(0, 0, 0, 0);
	}
}

@keyframes pulse-white {
	0% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0.7);
	}
	
	70% {
		transform: scale(1);
		box-shadow: 0 0 0 10px rgba(255, 255, 255, 0);
	}
	
	100% {
		transform: scale(0.95);
		box-shadow: 0 0 0 0 rgba(255, 255, 255, 0);
	}
}
