@import url(https://fonts.googleapis.com/css?family=Shadows+Into+Light);

body {
    background: gold ;
}

#allthethings {
    width: 0px;
    height: 0px;
    border-left: 300px solid transparent;
    border-right: 300px solid transparent;
    border-top: 300px solid transparent;
    border-radius: 0px;
    position: relative;
    margin: auto;
    top: 5px;
    left: 2px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
#display-10 {
    font-family:'Bell MT';
}


