*/.vs
*/bin
*/obj
*/debug
*.cache
*.cache
*.cache
Source/LudoTests/obj/project.nuget.cache
Source/LudoTests/obj/project.nuget.cache
Source/LudoTests/obj/project.nuget.cache
Source/LudoApi/obj/Debug/net5.0/LudoApi.assets.cache
Source/LudoApi/obj/Debug/net5.0/LudoApi.csprojAssemblyReference.cache
Source/LudoApi/obj/LudoApi.csproj.nuget.dgspec.json
Source/LudoApi/obj/project.assets.json
Source/LudoApi/obj/project.nuget.cache
Source/LudoEngine/obj/Debug/net5.0/LudoEngine.assets.cache
Source/LudoEngine/obj/Debug/net5.0/LudoEngine.csprojAssemblyReference.cache
Source/LudoEngine/obj/LudoEngine.csproj.nuget.dgspec.json
Source/LudoEngine/obj/project.assets.json
Source/LudoEngine/obj/project.nuget.cache
Source/LudoFrontEnd/obj/Debug/net5.0/LudoFrontEnd.assets.cache
Source/LudoFrontEnd/obj/Debug/net5.0/LudoFrontEnd.csprojAssemblyReference.cache
Source/LudoFrontEnd/obj/LudoFrontEnd.csproj.nuget.dgspec.json
Source/LudoFrontEnd/obj/project.assets.json
Source/LudoFrontEnd/obj/project.nuget.cache
Source/LudoTests/obj/Debug/net5.0/LudoTests.assets.cache
Source/LudoTests/obj/Debug/net5.0/LudoTests.csprojAssemblyReference.cache
Source/LudoTests/obj/LudoTests.csproj.nuget.dgspec.json
Source/LudoTests/obj/project.assets.json
Source/LudoTests/obj/project.nuget.cache
