@page "~/LudoGame/{boardId:int}/gameover"
@model GameOverModel
@section Styles {
    <link rel="stylesheet" href="~/css/GameOver.css" />
}
@{
}
<h1>GAME OVER!</h1>

<h2>Placement:</h2>
@foreach (var winner in Model.Winners)
{
    <p class="placement" style="color: @("#"+(await Model.GetPlayerColor(winner.Value.Id)))">@winner.Key. @winner.Value.Name</p>
}