@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<h1 id="display-4">Welcome to the Ludo Game</h1>
<img src="https://wallpapercave.com/wp/wp4297342.png" id="img" alt="Ludo" />

<button id="but" onclick="NewGame()">New Game</button>
<button id="but" onclick="Load()">Load Game</button>
<button id="but" onclick="Learn()">Learn How To Play</button>


<script>
    function NewGame() {
        location.replace("https://localhost:44310/NewGame")
    }
</script>

<script>
    function Load() {
        location.replace("https://localhost:44310/Index")
    }
</script>

<script>
    function Learn() {
        location.replace("https://www.youtube.com/watch?v=lns9TeKVebY")
    }
</script>


