@page
@model LudoFrontEnd.Pages.NewGameModel
@{
    ViewData["Title"] = "New Game";
}
<h1>@ViewData["Title"]</h1>

<p>New Game.</p>
<form method="post">
    <input type="text" asp-for="player.Name" placeholder="Player Name" />
    <input type="text" asp-for="player.ColorId" placeholder="Player Color Id" />   
    <input type="text" asp-for="player.Color.ColorCode" placeholder=" Color Code" />
    <button type="submit">Submit</button>
</form>