@page
@model LudoFrontEnd.Pages.NewGameModel
@{
    ViewData["Title"] = "New Game";
}
<h1>@ViewData["Title"]</h1>



@*<form method="post"  asp-page-handler="@Model.GetNumberOfPlayers()">

        <input type="number" asp-for="NumberOfPlayers" placeholder="Number of players?" />

        <button type="submit">Confirm</button>
    </form>*@





<h1>Roll!</h1>
<form method="post">
    <input type="text" asp-for="Players[0].Name" placeholder="Player Name 1" />
    <input type="text" asp-for="Players[0].ColorId" placeholder="Color Id 1" />
    <input type="text" asp-for="Players[1].Name" placeholder="Player Name 2" />
    <input type="text" asp-for="Players[1].ColorId" placeholder="Color Id 2" />
    <button type="submit" class="btn btn-primary">Add Players!</button>
</form>


@if (string.IsNullOrWhiteSpace(Model.Winner.Name))
{
    <p>Will Start First:@Model.Winner.Name</p>
}
else
{
    <p>Will Start First:@Model.Winner.Name</p>
}
