@page
@model LudoFrontEnd.Pages.NewGameModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@section Styles {
    <link href="~/css/NewGame.css" rel="stylesheet" type="text/css" />
}



<form method="post" asp-page-handler="Add">

    <input id="inp" type="number" asp-for="NumberOfPlayers" placeholder="Player Name " />
    <button id="inp" type="submit" asp-page-handler="Confirm" class="btn btn-primary">Check!</button>


    @if (Model.NumberOfPlayers == 2)
     {
        @for (int i = 0; i <= Model.NumberOfPlayers - 1; i++)
         {
            <input type="text" asp-for="Players[i].Name" class="btn btn-success"  />
            <input type="text" asp-for="Players[i].ColorId" class="btn btn-success"  />
         }

     }

    else if (Model.NumberOfPlayers == 3)
    {
        @for (int i = 0; i <= Model.NumberOfPlayers - 1; i++)
         {
            <input type="text" asp-for="Players[i].Name" class="btn btn-success"  />
            <input type="text" asp-for="Players[i].ColorId" class="btn btn-success"  />
         }
    }
    else if (true)
    {
        @for (int i = 0; i <= 3; i++)
         {
            <input type="text" asp-for="Players[i].Name" class="btn btn-success"  />
            <input type="text" asp-for="Players[i].ColorId" class="btn btn-success"  />
         }
    }

    <button id="inp" asp-page-handler="Add" type="submit" class="btn btn-primary">Add Players!</button>
</form>

<h1>@Model.NumberOfPlayers</h1>











