@page
@model LudoFrontEnd.Pages.NumberOfPlayersModel
@{
}



<form method="post" asp-page-handler="@Model.GetNumberOfPlayers()">

    <input type="Number" asp-for="NumberPlayers" placeholder="Number of players?" />

    <p>Players:@Model.NumberPlayers</p>

    <button type="submit">Confirm!</button>
</form>

    


<form method="post" asp-page-handler="@Model.GetNumberOfPlayers1()">

    <input type="Number" asp-for="NumberPlayers1" placeholder="Number of players?" />
    <p>Players:@Model.NumberPlayers1</p>
    <button type="submit">Confirm!</button>

</form>




    

